<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Bulent's Blog", root_path, class: 'navbar-brand'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
       <%= link_to "Home", posts_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
       <%= link_to "Blog", root_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
       <%= link_to "About", about_path, class:'nav-link' %>
      </li>
    </ul>
      <ul class="navbar-nav">
       <%= render "user/session_manager" %>
      </ul>

      <!-- NEDEN ÇALIŞMIYOR SOR    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      </ul> -->
    </ul>
  </div>
</nav>
